body {

    background-color: lightgray;

    width: 100%;

    margin: 0;

    padding: 0;

    height: auto;

    display: flex;

}


.nav {

        background-color: white;

        padding: 20px 20px 60px 20px;

        width: auto;
        

}
.logo {

    float: left;
    width: auto;
    padding-left: 65px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
}

.links {

    float: right;
    width: auto;
    font-size: 25px;
    padding-right: 20px;
    padding-top: 5px;
    font-family: 'Bebas Neue', sans-serif;
}

.links a {

    padding: 0 40px;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.MI {

    color: #CE2021;
    font-size: 40px;

}

.Health {

    color: #8DC728;
    font-size: 40px;
}

.main {

    width: auto;

    height: 100%;

    background-color: lightgrey;

    display: flex;

    background-size: cover;

}

.main img {

    position: absolute;

    z-index: 1;

    opacity: 50%;

    width: 100%;

    height: 91%;

    object-fit: cover;

}



.description {

    display: flex;

    flex-direction: column;

    width: 425px;
    
    padding: 100px 100px;

    z-index: 1;

    
}

.description h1 {

    font-weight: bold;
    font-size: 80px;
    margin: 0;
    font-family: 'Varela Round', sans-serif;

}

.description p {

    font-size: 35px;

}

.description a {


    text-decoration: none;

    font-weight: bold;

    font-size: 28px;

    color: inherit;

    font-family: 'Varela Round', sans-serif;

}

.quinoa {

    background-image: url("./images/apple-breakfast-quinoa-7.jpg");

    background-size: cover;

    margin-top: 100px;

    margin-bottom: 40px;

    height: 600px;

    width: 400px;

    display: flex;

    position: relative;

    z-index: 1;
    
}




.fresh {

position: absolute;

bottom: 0;

right: 0;

flex-direction: column;

}

.holdf {

    margin-left: 40%;

}

.ftext {

    background-color: white;

    width: 100%;

    margin: 0;

    text-align: center;

    padding: 20px 0;

    font-family: 'Varela Round', sans-serif;
}

.btext {

    background-color: #8DC728;

    padding: 20px 40px;

    margin: 0;

    font-family: 'Varela Round', sans-serif;

}

.pasta {

    background-image: url("./images/pasta-salad-recipe-for-lunch.jpg");

    background-size: cover;

    display: flex;

    margin-top: 100px;

    margin-bottom: 40px;

    margin-left: 20px;

    height: 600px;

    width: 400px;

    position: relative;
    
    z-index: 1;

}



.sweet {

    position: absolute;

    bottom: 0;

    right: 0;

    flex-direction: column;

}

.holds {

    margin-left: 40%;

}

.stext {

    background-color: white;

    width: 100%;

    margin: 0;

    text-align: center;

    padding: 20px 0;

    font-family: 'Varela Round', sans-serif;

}

.ltext {

    background-color: #8DC728;

    padding: 20px 70px;

    margin: 0;

    font-family: 'Varela Round', sans-serif;

}

.shrimp {

    background-image: url("./images/Screenshot_208.jpg");

    background-size: cover;

    display: flex;

    position: relative;

    margin-top: 100px;

    margin-bottom: 40px;

    margin-left: 20px;

    margin-right: 45px;

    height: 600px;

    width: 400px;

    z-index: 1;

}

.delicious {

    position: absolute;

    bottom: 0;

    right: 0;

    flex-direction: column;

}

.holdD {

    margin-left: 40%;

}

.dtext {

   background-color: white;

    width: 100%;

    margin: 0;

    text-align: center;

    padding: 20px 0;

    font-family: 'Varela Round', sans-serif;

}

.dntext {

    background-color: #8DC728;

    padding: 20px 70px;

    margin: 0;

    font-family: 'Varela Round', sans-serif;

}



